<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>굿즈 리뷰목록</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/manage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/admin.js}"></script>
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
    <script th:if="${session.get('user') == null || session.user.isAdmin == false}">
        alert('잘못된 접근입니다.');
        location.href='/'
    </script>
</head>
<body th:if="${session.get('user') != null && session.user.isAdmin() == true}">
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
<th:block th:replace="~{layouts/adminAside.html :: admin-aside}"></th:block>
<main class="manage-main">
    <table class="manage-table">
        <caption>굿즈 리뷰목록</caption>
        <thead>
        <tr>
            <th>넘버</th>
            <th>작성자</th>
            <th>굿즈 이름</th>
            <th>상세 보기</th>
            <th>신고 여부</th>
            <th>문제 없음</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="goodsReview : ${goodsReviews}">
            <th th:text="${goodsReview.getIndex()}"></th>
            <td th:text="${goodsReview.getUserEmail()}"></td>
            <td><a th:href="@{/store/goods (index=${goodsReview.getGoodsIndex()})}" th:text="${goodsReview.getTitle()}"></a></td>
            <td><a onclick="window.open(this.href, '_blank', 'width=600, height=600'); return false;" th:href="@{/admin/goodsReview/detail (index=${goodsReview.getIndex()})}">리뷰 조회</a></td>
            <td>
                <span th:if="${goodsReview.isReported()}" style="color: red">신고 됨</span>
                <span th:if="${!goodsReview.isReported()}" style="color: #009fff">해당 없음</span>
            </td>
            <td><input th:if="${goodsReview.isReported()}" th:onclick="'reviewNa(' + ${goodsReview.getIndex()} + ');'" class="comment-na-button" value="문제 없음" type="button"></td>
            <td><input th:onclick="'reviewDelete(' + ${goodsReview.getIndex()} + ');'" class="comment-delete-button" value="삭제" type="button"></td>
        </tr>
        </tbody>
        <tfoot th:if="${paging.getTotalPage() > 1}">
        <tr>
            <td colspan="7">
                <input class="currentPageHidden" th:value="${paging.getRequestPage()}" type="hidden">
                <section th:if="${paging.getTotalPage() > 1}" class="paging-container">
                    <ul th:if="${paging.isShowPrev()}" class="front-back-ul">
                        <li><a th:href="@{/admin/goodsReview (page=${paging.getBeginPage() - 1})}"><i class="fa-solid fa-arrow-left"></i></a></li>
                    </ul>
                    <ul th:each="num : ${#numbers.sequence(paging.getBeginPage(), paging.getEndPage())}" class="paging-ul">
                        <li><a th:class="${num}" th:href="@{/admin/goodsReview (page=${num})}" th:text="${num}">1</a></li>
                    </ul>
                    <ul th:if="${paging.isShowNext()}" class="front-back-ul">
                        <li><a th:href="@{/admin/goodsReview (page=${paging.getEndPage() + 1})}"><i class="fa-solid fa-arrow-right"></i></a></li>
                    </ul>
                </section>
            </td>
        </tr>
        </tfoot>
    </table>
</main>
<th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>
<script th:if="${paging.getTotalPage() > 1}">
    const currentPageHidden = document.querySelector('.currentPageHidden').value;
    const currentPageATag = document.getElementsByClassName(currentPageHidden);
    console.log(currentPageATag[0]);
    currentPageATag[0].style.color='#005f99';
</script>