<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/manage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/admin.js}"></script>
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
    <script th:if="${session.get('user') == null || session.user.isAdmin == false}">
        alert('잘못된 접근입니다.');
        location.href='/'
    </script>
</head>
<body th:if="${session.get('user') != null && session.user.isAdmin() == true}">
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
<th:block th:replace="~{layouts/adminAside.html :: admin-aside}"></th:block>
    <main class="manage-main">
        <table class="manage-table">
            <thead>
            <tr>
                <th>넘버</th>
                <th>업로드 된 대회</th>
                <th>업로드한 유저</th>
                <th>상세 보기</th>
                <th>승인 여부</th>
                <th>승인 하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tournament : ${tournaments}">
                <th class="tournamentIndex" th:text="${tournament.getIndex()}">1</th>
                <td th:text="${tournament.getTitle()}">대회 이름</td>
                <td th:text="${tournament.getUserEmail()}">업로드한 유저</td>
                <td><a onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;" th:href="@{/tournament/detail (index=${tournament.getIndex()})}">상세 보기</a></td>
                <td th:if="${!tournament.isRecognized()}">X</td>
                <td th:if="${tournament.isRecognized()}">O</td>
                <td><input th:onclick=" 'recognize(' + ${tournament.getIndex()} + ');' " class="recognize-button" value="전환" type="button"></td>
            </tr>
            </tbody>
            <tfoot th:if="${paging.getTotalPage() > 1}">
            <tr>
                <td colspan="7">
                    <input class="currentPageHidden" th:value="${paging.getRequestPage()}" type="hidden">
                    <section th:if="${paging.getTotalPage() > 1}" class="paging-container">
                        <ul th:if="${paging.isShowPrev()}" class="front-back-ul">
                            <li><a th:href="@{/admin/recognize (page=${paging.getBeginPage() - 1})}"><i class="fa-solid fa-arrow-left"></i></a></li>
                        </ul>
                        <ul th:each="num : ${#numbers.sequence(paging.getBeginPage(), paging.getEndPage())}" class="paging-ul">
                            <li><a th:class="${num}" th:href="@{/admin/recognize (page=${num})}" th:text="${num}">1</a></li>
                        </ul>
                        <ul th:if="${paging.isShowNext()}" class="front-back-ul">
                            <li><a th:href="@{/admin/recognize (page=${paging.getEndPage() + 1})}"><i class="fa-solid fa-arrow-right"></i></a></li>
                        </ul>
                    </section>
                </td>
            </tr>
            </tfoot>
        </table>
    </main>
<th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>
<script th:if="${paging.getTotalPage() > 1}">
    const currentPageHidden = document.querySelector('.currentPageHidden').value;
    const currentPageATag = document.getElementsByClassName(currentPageHidden);
    console.log(currentPageATag[0]);
    currentPageATag[0].style.color='#005f99';
</script>