<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>관리자페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/admin.js}"></script>
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
    <script th:if="${session.get('user') == null || session.user.isAdmin == false}">
        alert('잘못된 접근입니다.');
        location.href='/'
    </script>
</head>
<body th:if="${session.get('user') != null && session.user.isAdmin() == true}">
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
<th:block th:replace="~{layouts/adminAside.html :: admin-aside}"></th:block>
    <main class="admin-main">
        <table class="manage-table">
            <thead>
            <tr>
                <th>넘버</th>
                <th>업로드 된 대회</th>
                <th>상세 보기</th>
                <th>승인 여부</th>
                <th>승인 하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tournament : ${tournaments}">
                <th class="tournamentIndex" th:text="${tournament.getIndex()}">1</th>
                <td th:text="${tournament.getTitle()}">대회 이름</td>
                <td><a href="#">상세 보기</a></td>
                <td th:if="${!tournament.isRecognized()}">X</td>
                <td th:if="${tournament.isRecognized()}">O</td>
                <td><input class="recognize-button" value="전환" type="button"></td>
            </tr>
            </tbody>
        </table>
    </main>
<th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>