<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>신고 댓글 관리</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/admin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/admin.js}"></script>
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
    <script th:if="${session.get('user') == null || session.user.isAdmin == false}">
        alert('잘못된 접근입니다.');
        location.href='/'
    </script>
</head>
<body th:if="${session.get('user') != null && session.user.isAdmin() == true}">
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
<th:block th:replace="~{layouts/adminAside.html :: admin-aside}"></th:block>
<main class="admin-main">
    <table class="manage-table">
        <thead>
        <tr>
            <th>넘버</th>
            <th>이메일</th>
            <th>내용</th>
            <th>등록 날짜</th>
            <th>문제 없음</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${comments}">
            <th class="comment-index" th:text="${comment.getIndex()}"></th>
            <td th:text="${comment.getUserEmail()}"></td>
            <td><a onclick="window.open(this.href, '_blank', 'width=600, height=400'); return false;" th:href="@{/admin/commentDetail (index=${comment.getIndex()})}">상세 보기</a></td>
            <td th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td><input th:onclick="'commentNa(' + ${comment.getIndex()} + ');'" class="comment-na-button" value="문제 없음" type="button"></td>
            <td><input th:onclick="'commentDelete(' + ${comment.getIndex()} + ');'" class="comment-delete-button" value="삭제" type="button"></td>
        </tr>
        </tbody>
    </table>
</main>
<th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>