<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 입력</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/manage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <script th:if="${session.get('user') == null}">
        alert('잘못된 접근입니다.');
        window.close();
    </script>
</head>
<body>
    <main class="check-password-main">
        <form method="post" action="/myPage/updateMyInfo" class="check-password-form">
            <h3>비밀번호를 입력하세요.</h3>
            <label>
                <input autofocus required name="password" placeholder="비밀번호" type="password">
            </label>
            <div style="color: red" th:if="${message == 'failure'}" class="warning-message">
                비밀번호가 맞지 않습니다. 다시 입력해 주세요.
            </div>
            <input value="입력" type="submit">
        </form>
    </main>
</body>
</html>