<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/manage.css}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/modifyTournament.js}"></script>
    <script th:if="${session.get('user') == null}">
        alert('잘못된 접근입니다.');
        window.close();
    </script>
</head>
<body>
    <main class="modify-tournament-main">
        <section class="modify-tournament-section">
            <form class="modify-product-form">
                <input th:value="${product.getIndex()}" name="index" type="hidden">
                <input th:value="${product.getTournamentIndex()}" name="tournamentIndex" type="hidden">
                <label class="modify-tournament-label">
                    <span>이미지</span>
                    <img th:src="@{/tournament/productThumbnail (index=${product.getIndex()})}" class="file-image" alt="">
                    <input hidden class="file" accept=".jpg, .jpeg, .png" type="file">
                </label>
                <label class="modify-tournament-label">
                    <span>이름</span>
                    <input th:value="${product.getName()}" required class="product-name" minlength="1" maxlength="50" name="name" placeholder="이미지 이름(1자 이상 50자 이하)" type="text">
                </label>
                <a class="turn-back" th:href="@{/myPage/myTournament/product (index=${product.getTournamentIndex()})}">돌아가기</a>
                <input value="수정" type="submit">
            </form>
        </section>
    </main>
</body>
</html>