<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.hcs.mytournament.mappers.AdminMapper">

    <select id="selectTournaments" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.entities.TournamentEntity">
        SELECT `index`                      AS `index`,
               `user_email`                 AS `userEmail`,
               `thumbnail`                  AS `thumbnail`,
               `thumbnail_file_name`        AS `thumbnailFileName`,
               `thumbnail_content_type`     AS `thumbnailContentType`,
               `title`                      AS `title`,
               `content`                    AS `content`,
               `play_count`                 AS `playCount`,
               `created_at`                 AS `createdAt`,
               `modified_at`                AS `modifiedAt`,
               `is_recognized`               AS `isRecognized`
        FROM `worldcup`.`tournament`
        ORDER BY `created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="selectTournamentsCount" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`tournament`
        ORDER BY `created_at` DESC
    </select>

    <select id="selectUsers" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.entities.UserEntity">
        SELECT `email`        AS `email`,
               `password`     AS `password`,
               `nickname`     AS `nickname`,
               `created_at`   AS `createdAt`,
               `is_admin`     AS `isAdmin`,
               `is_deleted`   AS `isDeleted`,
               `is_suspended` AS `isSuspended`,
               `is_kakao`     AS `isKakao`
        FROM `worldcup`.`users`
        ORDER BY `created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="selectUsersCount" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`users`
        ORDER BY `created_at` DESC
    </select>

    <select id="selectReportedComments" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.entities.TournamentCommentEntity">
        SELECT `index`              AS `index`,
               `tournament_index`   AS `tournamentIndex`,
               `user_email`         AS `userEmail`,
               `content`            AS `content`,
               `created_at`         AS `createdAt`,
               `modified_at`        AS `modified_at`,
               `is_reported`        AS `isReported`
        FROM `worldcup`.`tournament_comment`
        WHERE `is_reported` = true
        ORDER BY `created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="selectReportedCommentsCount" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`tournament_comment`
        WHERE `is_reported` = true
        ORDER BY `created_at` DESC
    </select>

    <update id="updateGoods" parameterType="dev.hcs.mytournament.entities.GoodsEntity">
        UPDATE `worldcup`.`goods`
        SET `thumbnail`                 = #{thumbnail},
            `thumbnail_file_name`       = #{thumbnailFileName},
            `thumbnail_content_type`    = #{thumbnailContentType},
            `title`                     = #{title},
            `content`                   = #{content},
            `price`                     = #{price},
            `discount`                  = #{discount},
            `stoke`                     = #{stoke},
            `is_sale`                   = #{isSale}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <select id="selectOneGoodsImageByGoodsIndex" parameterType="int" resultType="dev.hcs.mytournament.entities.GoodsImageEntity">
        SELECT `index`              AS `index`,
               `goods_index`        AS `goodsIndex`,
               `image`              AS `image`,
               `image_file_name`    AS `imageFileName`,
               `image_content_type` AS `imageContentType`
        FROM `worldcup`.`goods_image`
        WHERE `goods_index` = #{goodsIndex}
        ORDER BY `index`
        LIMIT 1
    </select>

    <delete id="deleteGoodsImage" parameterType="int">
        DELETE FROM `worldcup`.`goods_image`
        WHERE `index` = #{index}
    </delete>

    <select id="selectGoodsOrder" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.GoodsOrderDto">
        SELECT `order`.`index`                  AS `index`,
               `order`.`goods_index`            AS `goodsIndex`,
               `order`.`user_email`             AS `userEmail`,
               `order`.`amount`                 AS `amount`,
               `order`.`price`                  AS `price`,
               `order`.`discount`               AS `discount`,
               `order`.`address_postal`         AS `addressPostal`,
               `order`.`address_primary`        AS `addressPrimary`,
               `order`.`address_secondary`      AS `addressSecondary`,
               `order`.`order_at`               AS `orderAt`,
               `order`.`is_paid`                AS `isPaid`,
               `order`.`is_delivered`           AS `isDelivered`,
               `g`.`title`                      AS `title`
        FROM `worldcup`.`goods_order` AS `order`
                 LEFT JOIN `worldcup`.`goods` AS `g` on `g`.`index` = `order`.`goods_index`
        ORDER BY `order`.`order_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countGoodsOrder" parameterType="string" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods_order`
        ORDER BY `order_at` DESC
    </select>

    <delete id="deleteGoodsOrderByIndex" parameterType="int">
        DELETE FROM `worldcup`.`goods_order`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>

    <select id="selectGoodsOrderByIndex" parameterType="int" resultType="dev.hcs.mytournament.dtos.GoodsOrderDto">
        SELECT `order`.`index`                  AS `index`,
               `order`.`goods_index`            AS `goodsIndex`,
               `order`.`user_email`             AS `userEmail`,
               `order`.`amount`                 AS `amount`,
               `order`.`price`                  AS `price`,
               `order`.`discount`               AS `discount`,
               `order`.`address_postal`         AS `addressPostal`,
               `order`.`address_primary`        AS `addressPrimary`,
               `order`.`address_secondary`      AS `addressSecondary`,
               `order`.`order_at`               AS `orderAt`,
               `order`.`is_paid`                AS `isPaid`,
               `order`.`is_delivered`           AS `isDelivered`,
               `g`.`title`                      AS `title`
        FROM `worldcup`.`goods_order` AS `order`
                 LEFT JOIN `worldcup`.`goods` AS `g` on `g`.`index` = `order`.`goods_index`
        WHERE `order`.`index` = #{index}
        ORDER BY `order`.`order_at` DESC
        LIMIT 1
    </select>

    <select id="selectGoodsReviews" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.GoodsReviewDto">
        SELECT `review`.`index`                 AS `index`,
               `review`.`goods_index`           AS `goodsIndex`,
               `review`.`goods_order_index`     AS `goodsOrderIndex`,
               `review`.`user_email`            AS `userEmail`,
               `review`.`content`               AS `content`,
               `review`.`rating`                AS `rating`,
               `review`.`created_at`            AS `createdAt`,
               `review`.`modified_at`           AS `modifiedAt`,
               `review`.`is_reported`           AS `isReported`,
               `goods`.`title`                  AS `title`
        FROM `worldcup`.`goods_review` AS `review`
            LEFT JOIN `worldcup`.`goods` AS `goods` on `goods`.`index` = `review`.`goods_index`
        ORDER BY `review`.`created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countGoodsReviews" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods_review` AS `review`
    </select>

    <select id="selectGoodsReviewByIndex" parameterType="int" resultType="dev.hcs.mytournament.dtos.GoodsReviewDto">
        SELECT `review`.`index`                     AS `index`,
               `review`.`goods_index`                AS `goodsIndex`,
               `review`.`goods_order_index`          AS `goodsOrderIndex`,
               `review`.`user_email`                 AS `userEmail`,
               `user`.`nickname`                    AS `nickname`,
               `review`.`content`                    AS `content`,
               CONCAT(REPEAT('★', FLOOR(`review`.`rating`/2)), REPEAT('☆', `review`.`rating`%2))                     AS `ratingStar`,
               `review`.`created_at`                 AS `createdAt`,
               `review`.`modified_at`                AS `modifiedAt`,
               `review`.`is_reported`                AS `isReported`
        FROM `worldcup`.`goods_review` AS `review`
                 LEFT JOIN `worldcup`.`users` AS `user` on `review`.`user_email` = `user`.`email`
        WHERE `review`.`index` = #{index}
        LIMIT 1;
    </select>
    
    <delete id="deleteGoodsReviewByIndex" parameterType="int">
        DELETE FROM `worldcup`.`goods_review`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>

    <delete id="deleteGoodsByIndex" parameterType="int">
        DELETE FROM `worldcup`.`goods`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
</mapper>