<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.hcs.mytournament.mappers.MyPageMapper">
    <select id="selectTournamentsByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.entities.TournamentEntity">
        SELECT `index`                      AS `index`,
               `user_email`                 AS `userEmail`,
               `thumbnail`                  AS `thumbnail`,
               `thumbnail_file_name`        AS `thumbnailFileName`,
               `thumbnail_content_type`     AS `thumbnailContentType`,
               `title`                      AS `title`,
               `content`                    AS `content`,
               `play_count`                 AS `playCount`,
               `created_at`                 AS `createdAt`,
               `modified_at`                AS `modifiedAt`,
               `is_recognized`               AS `isRecognized`
        FROM `worldcup`.`tournament`
        WHERE `user_email` = #{userEmail}
        ORDER BY `created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countTournamentsByEmail" parameterType="string" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`tournament`
        WHERE `user_email` = #{userEmail}
        ORDER BY `created_at` DESC
    </select>

    <select id="selectCommentsByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.TournamentCommentDto">
        SELECT `comments`.`index`              AS `index`,
               `comments`.`tournament_index`   AS `tournamentIndex`,
               `comments`.`user_email`         AS `userEmail`,
               `comments`.`content`            AS `content`,
               `comments`.`created_at`         AS `createdAt`,
               `comments`.`modified_at`        AS `modifiedAt`,
               `comments`.`is_reported`        AS `isReported`,
               `tournaments`.`title`           AS `tournamentTitle`
        FROM `worldcup`.`tournament_comment` AS `comments`
            LEFT JOIN `worldcup`.`tournament` AS `tournaments` ON `comments`.`tournament_index` = `tournaments`.`index`
        WHERE `comments`.`user_email` = #{userEmail}
        ORDER BY `comments`.`created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="selectGoodsWishlistByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.GoodsWishlistDto">
        SELECT `wishlist`.`user_email`      AS `userEmail`,
               `wishlist`.`goods_index`     AS `goodsIndex`,
               `wishlist`.`created_at`      AS `createdAt`,
               `goods`.`title`              AS `title`,
               `goods`.`index`              AS `index`
        FROM `worldcup`.`goods_wishlist` AS `wishlist`
        LEFT JOIN `worldcup`.`goods` AS `goods` on `goods`.`index` = `wishlist`.goods_index
        WHERE `wishlist`.`user_email` = #{userEmail}
        ORDER BY `wishlist`.`created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countGoodsWishlistByEmail" parameterType="string" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods_wishlist`
        WHERE `user_email` = #{userEmail}
        ORDER BY `created_at` DESC
    </select>
</mapper>