<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.hcs.mytournament.mappers.MyPageMapper">
    <select id="selectTournamentsByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.entities.TournamentEntity">
        SELECT `index`                      AS `index`,
               `user_email`                 AS `userEmail`,
               `thumbnail`                  AS `thumbnail`,
               `thumbnail_file_name`        AS `thumbnailFileName`,
               `thumbnail_content_type`     AS `thumbnailContentType`,
               `title`                      AS `title`,
               `content`                    AS `content`,
               `play_count`                 AS `playCount`,
               `created_at`                 AS `createdAt`,
               `modified_at`                AS `modifiedAt`,
               `is_recognized`               AS `isRecognized`
        FROM `worldcup`.`tournament`
        WHERE `user_email` = #{userEmail}
        ORDER BY `created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countTournamentsByEmail" parameterType="string" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`tournament`
        WHERE `user_email` = #{userEmail}
        ORDER BY `created_at` DESC
    </select>

    <select id="selectCommentsByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.TournamentCommentDto">
        SELECT `comments`.`index`              AS `index`,
               `comments`.`tournament_index`   AS `tournamentIndex`,
               `comments`.`user_email`         AS `userEmail`,
               `comments`.`content`            AS `content`,
               `comments`.`created_at`         AS `createdAt`,
               `comments`.`modified_at`        AS `modifiedAt`,
               `comments`.`is_reported`        AS `isReported`,
               `tournaments`.`title`           AS `tournamentTitle`
        FROM `worldcup`.`tournament_comment` AS `comments`
            LEFT JOIN `worldcup`.`tournament` AS `tournaments` ON `comments`.`tournament_index` = `tournaments`.`index`
        WHERE `comments`.`user_email` = #{userEmail}
        ORDER BY `comments`.`created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="selectGoodsWishlistByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.GoodsWishlistDto">
        SELECT `wishlist`.`user_email`      AS `userEmail`,
               `wishlist`.`goods_index`     AS `goodsIndex`,
               `wishlist`.`created_at`      AS `createdAt`,
               `goods`.`title`              AS `title`,
               `goods`.`index`              AS `index`
        FROM `worldcup`.`goods_wishlist` AS `wishlist`
        LEFT JOIN `worldcup`.`goods` AS `goods` on `goods`.`index` = `wishlist`.goods_index
        WHERE `wishlist`.`user_email` = #{userEmail}
        ORDER BY `wishlist`.`created_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countGoodsWishlistByEmail" parameterType="string" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods_wishlist`
        WHERE `user_email` = #{userEmail}
        ORDER BY `created_at` DESC
    </select>

    <select id="selectGoodsWishlist" resultType="dev.hcs.mytournament.entities.GoodsWishlistEntity">
        SELECT `user_email`     AS `userEmail`,
               `goods_index`    AS `goodsIndex`,
               `created_at`     AS `createdAt`
        FROM `worldcup`.`goods_wishlist`
        WHERE `user_email` = #{userEmail} and goods_index = #{goodsIndex}
        LIMIT 1
    </select>

    <delete id="deleteGoodsWishlist">
        DELETE FROM `worldcup`.`goods_wishlist`
        WHERE `user_email` = #{userEmail} and goods_index = #{goodsIndex}
        LIMIT 1
    </delete>

    <select id="selectGoodsOrderByEmail" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.dtos.GoodsOrderDto">
        SELECT `order`.`index`                  AS `index`,
               `order`.`goods_index`            AS `goodsIndex`,
               `order`.`user_email`             AS `userEmail`,
               `order`.`amount`                 AS `amount`,
               `order`.`price`                  AS `price`,
               `order`.`discount`               AS `discount`,
               `order`.`address_postal`         AS `addressPostal`,
               `order`.`address_primary`        AS `addressPrimary`,
               `order`.`address_secondary`      AS `addressSecondary`,
               `order`.`order_at`               AS `orderAt`,
               `order`.`is_paid`                AS `isPaid`,
               `order`.`is_delivered`           AS `isDelivered`,
               `g`.`title`                      AS `title`
        FROM `worldcup`.`goods_order` AS `order`
                 LEFT JOIN `worldcup`.`goods` AS `g` on `g`.`index` = `order`.`goods_index`
        WHERE `order`.`user_email` = #{userEmail}
        ORDER BY `order`.`order_at` DESC
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="countGoodsOrderByEmail" parameterType="string" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods_order`
        WHERE `user_email` = #{userEmail}
        ORDER BY `order_at` DESC
    </select>

    <insert id="insertGoodsReview"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.hcs.mytournament.entities.GoodsReviewEntity">
        INSERT INTO `worldcup`.`goods_review` (`goods_index`, `goods_order_index`, `user_email`, `content`, `rating`, `created_at`, `modified_at`, `is_reported`)
        VALUES (#{goodsIndex}, #{goodsOrderIndex}, #{userEmail}, #{content}, #{rating}, #{createdAt}, #{modifiedAt}, #{isReported})
    </insert>

    <insert id="insertGoodsReviewImage" parameterType="dev.hcs.mytournament.entities.GoodsReviewImageEntity">
        INSERT INTO `worldcup`.`goods_review_image` (`goods_review_index`, `image`, `image_file_name`, `image_content_type`, `created_at`)
        VALUES (#{goodsReviewIndex}, #{image}, #{imageFileName}, #{imageContentType}, #{createdAt})
    </insert>

    <select id="selectGoodsReviewByGoodsOrderIndex" parameterType="int" resultType="dev.hcs.mytournament.dtos.GoodsReviewDto">
        SELECT `review`.`index`                     AS `index`,
               `review`.`goods_index`                AS `goodsIndex`,
               `review`.`goods_order_index`          AS `goodsOrderIndex`,
               `review`.`user_email`                 AS `userEmail`,
               `user`.`nickname`                    AS `nickname`,
               `review`.`content`                    AS `content`,
               CONCAT(REPEAT('★', `review`.`rating`/2-1), REPEAT('☆', `review`.`rating`%2))                     AS `ratingStar`,
               `review`.`created_at`                 AS `createdAt`,
               `review`.`modified_at`                AS `modifiedAt`,
               `review`.`is_reported`                AS `isReported`
        FROM `worldcup`.`goods_review` AS `review`
                 LEFT JOIN `worldcup`.`users` AS `user` on `review`.`user_email` = `user`.`email`
        WHERE `review`.`goods_order_index` = #{index}
        LIMIT 1;
    </select>
</mapper>