<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.hcs.mytournament.mappers.StoreMapper">
    <insert id="insertGoods"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.hcs.mytournament.entities.GoodsEntity">
        INSERT INTO `worldcup`.`goods`(`thumbnail`, `thumbnail_file_name`, `thumbnail_content_type`, `title`, `content`, `price`, `discount`, `stoke`, `created_at`, `is_sale`)
        VALUES (#{thumbnail}, #{thumbnailFileName}, #{thumbnailContentType}, #{title}, #{content}, #{price}, #{discount}, #{stoke}, #{createdAt}, #{isSale})
    </insert>

    <insert id="insertGoodsImage" parameterType="dev.hcs.mytournament.entities.GoodsImageEntity">
        INSERT INTO `worldcup`.`goods_image`(`goods_index`, `image`, `image_file_name`, `image_content_type`)
        VALUES (#{goodsIndex}, #{image}, #{imageFileName}, #{imageContentType})
    </insert>

    <select id="selectGoodsByIndex" parameterType="int" resultType="dev.hcs.mytournament.entities.GoodsEntity">
        SELECT `index`                      AS `index`,
               `thumbnail`                  AS `thumbnail`,
               `thumbnail_file_name`        AS `thumbnailFileName`,
               `thumbnail_content_type`     AS `thumbnailContentType`,
               `title`                      AS `title`,
               `content`                    AS `content`,
               `price`                      AS `price`,
               `discount`                   AS `discount`,
               `stoke`                      AS `stoke`,
               `created_at`                 AS `createdAt`,
               `is_sale`                    AS `isSale`
        FROM `worldcup`.`goods`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectGoodsImageByIndex" parameterType="int" resultType="dev.hcs.mytournament.entities.GoodsImageEntity">
        SELECT `index`                  AS `index`,
               `goods_index`            AS `goodsIndex`,
               `image`                  AS `image`,
               `image_file_name`        AS `imageFileName`,
               `image_content_type`     AS `imageContentType`
        FROM `worldcup`.`goods_image`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectGoods" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="dev.hcs.mytournament.entities.GoodsEntity">
        SELECT `index`                      AS `index`,
               `thumbnail`                  AS `thumbnail`,
               `thumbnail_file_name`        AS `thumbnailFileName`,
               `thumbnail_content_type`     AS `thumbnailContentType`,
               `title`                      AS `title`,
               `content`                    AS `content`,
               `price`                      AS `price`,
               `discount`                   AS `discount`,
               `stoke`                      AS `stoke`,
               `created_at`                 AS `createdAt`,
               `is_sale`                    AS `isSale`
        FROM `worldcup`.`goods`
        <if test="keyword != null">
            WHERE REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="by != null and by.equals('latest')">
            ORDER BY `created_at` DESC
        </if>
        <if test="by != null and by.equals('price')">
            ORDER BY `price` DESC
        </if>
        LIMIT #{countPerPage} OFFSET #{offset}
    </select>

    <select id="getGoodsTotalCount" parameterType="dev.hcs.mytournament.dtos.SearchDto" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods`
        <if test="keyword != null">
            WHERE REPLACE(`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')
        </if>
        <if test="by != null and by.equals('latest')">
            ORDER BY `created_at` DESC
        </if>
        <if test="by != null and by.equals('price')">
            ORDER BY `price` DESC
        </if>
    </select>

    <select id="selectGoodsImageByGoodsIndex" resultType="dev.hcs.mytournament.entities.GoodsImageEntity">
        SELECT `index`                  AS `index`,
               `goods_index`            AS `goodsIndex`,
               `image`                  AS `image`,
               `image_file_name`        AS `imageFileName`,
               `image_content_type`     AS `imageContentType`
        FROM `worldcup`.`goods_image`
        WHERE `goods_index` = #{goodsIndex}
    </select>

    <insert id="insertGoodsOrder"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.hcs.mytournament.entities.GoodsOrderEntity">
        INSERT INTO `worldcup`.`goods_order`(`goods_index`, `user_email`, `amount`, `price`, `discount`, `address_postal`, `address_primary`, `address_secondary`, `order_at`, `is_paid`, `is_delivered`) VALUES (#{goodsIndex}, #{userEmail}, #{amount}, #{price}, #{discount}, #{addressPostal}, #{addressPrimary}, #{addressSecondary}, #{orderAt}, #{isPaid}, #{isDelivered})
    </insert>

    <insert id="insertUserAddress" parameterType="dev.hcs.mytournament.entities.UserAddressEntity">
        INSERT INTO `worldcup`.`user_address`(`user_email`, `address_postal`, `address_primary`, `address_secondary`) VALUES (#{userEmail}, #{addressPostal}, #{addressPrimary}, #{addressSecondary});
    </insert>

    <select id="getGoodsOrderByIndex" parameterType="int" resultType="dev.hcs.mytournament.dtos.GoodsOrderDto">
        SELECT `order`.`index`                  AS `index`,
               `order`.`goods_index`            AS `goodsIndex`,
               `order`.`user_email`             AS `userEmail`,
               `order`.`amount`                 AS `amount`,
               `order`.`price`                  AS `price`,
               `order`.`discount`               AS `discount`,
               `order`.`address_postal`         AS `addressPostal`,
               `order`.`address_primary`        AS `addressPrimary`,
               `order`.`address_secondary`      AS `addressSecondary`,
               `order`.`order_at`               AS `orderAt`,
               `order`.`is_paid`                AS `isPaid`,
               `order`.`is_delivered`           AS `isDelivered`,
               `g`.`title`                      AS `title`
        FROM `worldcup`.`goods_order` AS `order`
        LEFT JOIN `worldcup`.`goods` AS `g` on `g`.`index` = `order`.`goods_index`
        WHERE `order`.`index` = #{index}
        LIMIT 1
    </select>

    <select id="selectGoodsOrderByIndex" parameterType="int" resultType="dev.hcs.mytournament.entities.GoodsOrderEntity">
        SELECT `index`                  AS `index`,
               `goods_index`            AS `goodsIndex`,
               `user_email`             AS `userEmail`,
               `amount`                 AS `amount`,
               `price`                  AS `price`,
               `discount`               AS `discount`,
               `address_postal`         AS `addressPostal`,
               `address_primary`        AS `addressPrimary`,
               `address_secondary`      AS `addressSecondary`,
               `order_at`               AS `orderAt`,
               `is_paid`                AS `isPaid`,
                `is_delivered`           AS `isDelivered`
        FROM `worldcup`.`goods_order`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <update id="updateGoodsOrder" parameterType="dev.hcs.mytournament.entities.GoodsOrderEntity">
        UPDATE `worldcup`.`goods_order`
        SET `user_email` = #{userEmail},
            `amount`        = #{amount},
            `price`         = #{price},
            `discount`      = #{discount},
            `address_postal`    = #{addressPostal},
            `address_primary`   = #{addressPrimary},
            `address_secondary` = #{addressSecondary},
            `order_at`          = #{orderAt},
            `is_paid`           = #{isPaid},
            `is_delivered`      = #{isDelivered}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <delete id="deleteGoodsOrder" parameterType="int">
        DELETE FROM `worldcup`.`goods_order`
        WHERE `index` = #{index}
        LIMIT 1;
    </delete>

    <select id="selectUserAddress" parameterType="string" resultType="dev.hcs.mytournament.entities.UserAddressEntity">
        SELECT `index`              AS `index`,
               `user_email`         AS `userEmail`,
               `address_postal`     AS `addressPostal`,
               `address_primary`    AS `addressPrimary`,
               `address_secondary`  AS `addressSecondary`
        FROM `worldcup`.`user_address`
        WHERE `user_email` = #{userEmail}
        LIMIT 1;
    </select>
    
    <select id="selectUserAddressByEmail" parameterType="string" resultType="dev.hcs.mytournament.entities.UserAddressEntity">
        SELECT `index`              AS `index`,
               `user_email`         AS `userEmail`,
               `address_postal`     AS `addressPostal`,
               `address_primary`    AS `addressPrimary`,
               `address_secondary`  AS `addressSecondary`
        FROM `worldcup`.`user_address`
        WHERE `user_email` = #{userEmail}
    </select>

    <update id="updateGoods" parameterType="dev.hcs.mytournament.entities.GoodsEntity">
        UPDATE `worldcup`.`goods`
        SET     `thumbnail`                  = #{thumbnail},
                `thumbnail_file_name`        = #{thumbnailFileName},
                `thumbnail_content_type`     = #{thumbnailContentType},
                `title`                      = #{title},
                `content`                    = #{content},
                `price`                      = #{price},
                `discount`                   = #{discount},
                `stoke`                      = #{stoke},
                `created_at`                 = #{createdAt},
                `is_sale`                    = #{isSale}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <delete id="deleteMyAddress" parameterType="int">
        DELETE FROM `worldcup`.`user_address`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>

    <insert id="insertWishlist" parameterType="dev.hcs.mytournament.entities.GoodsWishlistEntity">
        INSERT INTO `worldcup`.`goods_wishlist`(`user_email`, `goods_index`, `created_at`)
        VALUES (#{userEmail}, #{goodsIndex}, #{createdAt})
    </insert>

    <select id="selectWishlistCount" resultType="int">
        SELECT COUNT(0)
        FROM `worldcup`.`goods_wishlist`
        WHERE `user_email` = #{userEmail} AND `goods_index` = #{goodsIndex}
        LIMIT 1
    </select>

    <select id="getGoodsOrderByEmail" parameterType="string" resultType="dev.hcs.mytournament.dtos.GoodsOrderDto">
        SELECT `order`.`index`                  AS `index`,
               `order`.`goods_index`            AS `goodsIndex`,
               `order`.`user_email`             AS `userEmail`,
               `order`.`amount`                 AS `amount`,
               `order`.`price`                  AS `price`,
               `order`.`discount`               AS `discount`,
               `order`.`address_postal`         AS `addressPostal`,
               `order`.`address_primary`        AS `addressPrimary`,
               `order`.`address_secondary`      AS `addressSecondary`,
               `order`.`order_at`               AS `orderAt`,
               `order`.`is_paid`                AS `isPaid`,
               `order`.`is_delivered`           AS `isDelivered`,
               `g`.`title`                      AS `title`
        FROM `worldcup`.`goods_order` AS `order`
                 LEFT JOIN `worldcup`.`goods` AS `g` on `g`.`index` = `order`.`goods_index`
        WHERE `order`.`user_email` = #{userEmail} AND `order`.`is_paid` = false
    </select>
</mapper>