@charset "UTF-8";
@import "common";


#goods-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;

  .goods-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;

    .goods-info {
      margin-top: 2rem;
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5rem;

      > .carousel-wrapper {
        border-radius: 0.75rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        width: 600px;
        height: 400px;
        overflow: hidden;
        position: relative;

        > .carousel-prev {
          background-color: #e0e0e0a0;
          position: absolute;
          font-size: 2.5rem;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          cursor: pointer;
          color: #747474;

          &:hover {
            color: darken(#747474, 10%);
          }
          &:active {
            color: darken(#747474, 20%);
          }
        }

        > .carousel-next {
          background-color: #e0e0e0a0;
          position: absolute;
          font-size: 2.5rem;
          top: 50%;
          left: 100%;
          transform: translate(-100%, -50%);
          z-index: 1;
          cursor: pointer;
          color: #747474;

          &:hover {
            color: darken(#747474, 10%);
          }
          &:active {
            color: darken(#747474, 20%);
          }
        }

        > .carousel {
          display: grid;
          grid-template-columns: repeat(5, 1fr);

          transform: translate3d(0, 0, 0);
          transition: transform 0.2s;

          > .carousel-image {
            width: 600px;
            height: 400px;
            object-fit: cover;
          }
        }
      }
    }

    .goods-detail-box {
      border: 2px solid #e0e0e0;
      border-radius: 0.5rem;
      width: 600px;
      height: 400px;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      > .goods-rating-box {
        margin: 2rem;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        gap: 1rem;

        font-size: 1.125rem;
        color: #747474;

        > span:nth-child(1) {
          color: red;
        }

        > span:nth-child(3) {
          font-weight: 500;
          color: #414141;
        }
      }

      > .goods-description {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: 2rem;
        gap: 1.25rem;

        > .goods-title {
          margin-block-start: 0;
          margin-block-end: 0;
          color: #414141;
          font-size: 2.125rem;
        }

        > .goods-content {
          color: #757575;
          line-height: 180%;
          margin-bottom: 1.5rem;
        }

        .goods-info-table {
          border: 1px solid #e0e0e0;
          text-align: center;

          > thead > tr > th {
            background-color: #009fff;
            color: #eeeeee;
          }

          > tbody > tr > td {
            font-size: 1.125rem;
            height: 1.5rem;
          }
        }
      }
    }

    .goods-order {

      > .buy-form {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5rem;

        > .my-address {

          align-items: flex-start;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          > .address-finder.-visible {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 50;
            background-color: #212121a0;
            padding: 100vh 100vh;

            > .dialog {
              width: 500px;
              height: 600px;
              z-index: 100;
              background-color: #eeeeee;
            }
          }

          > .address-input {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            &:focus-within {
              > .address-text {
                color: #009fff;
              }
            }

            > .address-text {
              color: #747474;
              font-size: 0.75rem;
            }

            > label > input[type="text"] {
              border: 1px solid #e0e0e0;
              outline: none;
              width: 37.5rem;
              height: 2rem;

              &:focus {
                border-color: #009fff;
              }
            }

            > div {
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;

              > label:nth-child(1) {
                flex: 1;
              }

              > label {
                > .find-address {
                  height: 2rem;
                  border: none;
                  background-color: #009fff;
                  color: #eeeeee;
                  margin-left: 0.5rem;

                  &:hover {
                    background-color: darken(#009fff, 10%);
                  }

                  &:active {
                    background-color: darken(#009fff, 20%);
                  }
                }

                > input[type="text"] {
                  border: 1px solid #e0e0e0;
                  outline: none;
                  width: 100%;
                  height: 2rem;

                  &:focus {
                    border-color: #009fff;
                  }
                }
              }
            }
          }

          > .saved-address-container {
            margin-top: 0.25rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 0.125rem;
            column-gap: 0.125rem;

            > .saved-address-box {
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              background-color: #919191;
              color: #eeeeee;
              font-size: 0.75rem;
              border-radius: 0.2rem;

              > .saved-address {
                cursor: pointer;

                &:hover {
                  color: #212121;
                }
              }

              > .delete-saved-address {
                border: none;
                cursor: pointer;
                font-weight: bold;
              }
            }
          }
        }
        > .goods-buy {
          align-items: stretch;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 1.2rem;

          > .select-amount-container {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            > .amount-text {
              color: #747474;
              font-size: 0.75rem;
            }

            > .amount-box {
              width: 500px;
              align-items: center;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              > .amount-select {
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                > .decrease-button, .increase-button, label {
                  font-size: 1.5rem;
                  height: 2rem;
                  padding-top: 5px;
                  color: #747474;
                }

                > .decrease-button {
                  width: 2rem;
                  text-align: center;
                  border-left: 1px solid #999999;
                  border-top: 1px solid #999999;
                  border-bottom: 1px solid #999999;
                  cursor: pointer;

                  &:hover {
                    background-color: darken(#e0e0e0, 10);
                  }

                  &:active {
                    background-color: darken(#e0e0e0, 20);
                  }
                }

                > .increase-button {
                  width: 2rem;
                  text-align: center;
                  border-right: 1px solid #999999;
                  border-top: 1px solid #999999;
                  border-bottom: 1px solid #999999;
                  cursor: pointer;

                  &:hover {
                    background-color: darken(#e0e0e0, 10);
                  }

                  &:active {
                    background-color: darken(#e0e0e0, 20);
                  }
                }

                > label {
                  border: 1px solid #999999;

                  > .amount-input {
                    border: none;
                    outline: none;
                    text-align: center;
                    font-size: 1.3rem;
                    box-sizing: border-box;
                    font-family: inherit;
                  }
                }
              }

              > .show-price {
                font-size: 1.2rem;
                color: #212121;
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 2rem;

                > .selected-price {
                  font-weight: 600;
                }

                > .reset-button {
                  font-family: inherit;
                  padding: 0.5rem 0.75rem;
                  font-size: 1rem;
                  border: none;
                  background-color: #009fff;
                  color: #eeeeee;
                  cursor: pointer;

                  &:hover {
                    background-color: darken(#009fff, 10);
                  }

                  &:active {
                    background-color: darken(#009fff, 20);
                  }
                }
              }
            }
          }

          > .order-button-box {
            align-items: stretch;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0.25rem;

            > .wishlist-button {
              cursor: pointer;
              font-family: inherit;
              font-size: 1.1rem;
              padding: 0.5rem 0;
              border: none;
              color: #eeeeee;
              background-color: #757575;

              &:hover {
                background-color: darken(#757575, 10);
              }

              &:active {
                background-color: darken(#757575, 20);
              }
            }

            > .order-button {
              cursor: pointer;
              font-family: inherit;
              font-size: 1.2rem;
              padding: 0.625rem 0;
              font-weight: 800;
              border: none;
              color: #eeeeee;
              background-color: #009fff;

              &:hover {
                background-color: darken(#009fff, 10%);
              }

              &:active {
                background-color: darken(#009fff, 20%);
              }
            }

            > .order-button:disabled {
              background-color: darken(#757575, 15%);
              cursor: default;
            }
          }
        }
      }
    }

    > .goods-comment {
      width: 1250px;
      margin-bottom: 5rem;
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      > .goods-comment-box {
        border: 1px solid #e0e0e0;
        padding: 1rem 1rem;

        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;

        > .comment-title {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 5rem;

          > .spring {
            flex-grow: 1;
          }

          > div > span:nth-child(1) {
            font-size: 1.1rem;
            font-weight: 600;
            color: #747474;
          }

          > div > .star {
            margin-left: 0.5rem;
            font-size: 1.2rem;
            color: red;
          }

          > div > .report-comment-button {
            font-family: inherit;
            font-size: 1rem;
            background-color: #e74c3c;
            border: 2px solid #e74c3c;
            cursor: pointer;
            color: #eeeeee;
            padding: 0.2rem 0.75rem;
            border-radius: 0.125rem;
            transition-duration: 0.2s;

            &:hover {
              background-color: #eeeeee;
              border: 2px solid #e74c3c;
              color: #e74c3c;
            }
          }
        }

        > .comment-content {
          align-items: flex-start;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          > span {
            color: #414141;
          }


          > .comment-image {
            width: 8rem;
            height: 8rem;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
              filter: brightness(75%);
            }
          }
        }
      }
    }
  }
}