@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #eeeeee;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

#header {
  background-color: #009fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 9;
}
#header > .header-section.spring {
  flex-grow: 1;
}
#header > .header-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.75rem;
  gap: 1.5rem;
}
#header > .header-section > .header-menu {
  text-decoration: none;
  color: #eeeeee;
  transition-duration: 0.5s;
}
#header > .header-section > .header-menu:hover {
  color: #000000;
}
#header > .header-section:nth-child(3) > .header-menu {
  font-size: 1.2rem;
}

main {
  flex-grow: 1;
}

#footer {
  background-color: #e0e0e0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 9;
}
#footer > .footer-message {
  color: #757575;
  padding: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}

#loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity 250ms;
  user-select: none;
  z-index: 20;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
}
#loading > .image {
  top: 0.25rem;
  width: 4rem;
  height: 4rem;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: animation-loading-image;
  animation-timing-function: linear;
  position: relative;
  transition: top 250ms;
}
@keyframes animation-loading-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#loading > .text {
  top: 0.25rem;
  color: #ffffff;
  font-size: 1.5rem;
  opacity: 0;
  position: relative;
  transition-delay: 125ms;
  transition-duration: 250ms;
  transition-property: top, opacity;
}
#loading.-visible {
  opacity: 1;
  pointer-events: all;
}
#loading.-visible > .image {
  top: 0;
}
#loading.-visible > .text {
  top: 0;
  opacity: 1;
}

#shopping-cart {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5rem;
  z-index: 20;
  position: fixed;
  bottom: 10%;
  right: 2.5%;
}
#shopping-cart > label > .order-list-icon {
  color: #eeeeee;
  background-color: #009fff;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#shopping-cart > label > .order-list-icon:hover {
  background-color: #007fcc;
}
#shopping-cart > label > .order-list-icon:active {
  background-color: #005f99;
}
#shopping-cart > .order-list {
  width: 10rem;
  height: 18rem;
  background-color: #e0e0e0;
  overflow: scroll;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
  border: solid 2px #009fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
#shopping-cart > .order-list-count {
  display: none;
}
#shopping-cart > .order-list-count.show {
  background-color: red;
  color: #eeeeee;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
  display: block;
  pointer-events: none;
  position: fixed;
}

#shopping-cart-open:checked + .order-list {
  display: flex;
}

.manage-aside {
  background-color: #424242;
  position: fixed;
  padding: 100px 0;
  width: 200px;
  height: 100vh;
  z-index: 0;
}
.manage-aside > .menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
.manage-aside > .menu > li > a {
  text-decoration: none;
  color: #eeeeee;
}
.manage-aside > .menu > li > a:hover {
  color: #d5d5d5;
}

.manage-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.manage-main > .manage-table {
  margin-top: 5rem;
  border: 1px solid #e0e0e0;
  width: 1000px;
}
.manage-main > .manage-table a {
  color: #e74c3c;
  text-decoration: none;
}
.manage-main > .manage-table a:hover {
  text-decoration: underline;
}
.manage-main > .manage-table > thead > tr > th {
  height: 2rem;
  background-color: #e0e0e0;
}
.manage-main > .manage-table > tbody > tr > th {
  height: 2rem;
  background-color: #e0e0e0;
}
.manage-main > .manage-table > tbody > tr > td {
  text-align: center;
}
.manage-main > .manage-table > tbody > tr > td > input[type=button] {
  background-color: #009fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: white;
  font-family: inherit;
}
.manage-main > .manage-table > tbody > tr > td > input[type=button]:hover {
  background-color: #007fcc;
}
.manage-main > .manage-table > tfoot {
  text-align: center;
  height: 2rem;
}
.manage-main > .manage-table > tfoot > tr > td > section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}
.manage-main > .manage-table > tfoot > tr > td > section > ul > li > a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #009fff;
}
.manage-main .myInfo-container {
  margin-top: 3rem;
  border: 4px solid #747474;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.manage-main .myInfo-container > .myInfo-box {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 2rem 4rem;
  gap: 10rem;
  border-bottom: 1px dashed #919191;
}
.manage-main .myInfo-container > .myInfo-box > .myInfo-view {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
}
.manage-main .myInfo-container > .myInfo-box > .myInfo-view > .user-nickname {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.manage-main .myInfo-container > .myInfo-box > .myInfo-view > .user-email {
  font-size: 0.9rem;
  color: #007fcc;
}
.manage-main .myInfo-container > .myInfo-box > .myInfo-view > .user-created-at {
  font-size: 1.2rem;
  color: #e74c3c;
  margin-top: 0.75rem;
}
.manage-main .myInfo-container > .myInfo-box > .myInfo-modify > a {
  background-color: #e74c3c;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #eeeeee;
  text-decoration: none;
}
.manage-main .myInfo-container > .myInfo-box > .myInfo-modify > a:hover {
  background-color: #bf2718;
}
.manage-main .myInfo-container > .myThings-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
}
.manage-main .myInfo-container > .myThings-box > .myThing {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding: 2rem 0;
}
.manage-main .myInfo-container > .myThings-box > .myThing > a {
  color: #e74c3c;
  text-decoration: none;
}
.manage-main .myInfo-container > .myThings-box > .myThing > a:hover {
  color: #a82315;
}

.check-password-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.check-password-main h3 {
  padding: 0;
  margin: 0;
}
.check-password-main .check-password-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 0.5rem;
}
.check-password-main .check-password-form > label > input[type=password] {
  outline: none;
  height: 2rem;
  width: 20rem;
  border: 1px solid #e0e0e0;
  font-family: inherit;
}
.check-password-main .check-password-form > label > input[type=password]:focus-within {
  border: 1px solid #009fff;
}
.check-password-main .check-password-form > input[type=submit] {
  font-family: inherit;
  border: none;
  background-color: #e74c3c;
  color: #eeeeee;
  height: 1.75rem;
  font-size: 1rem;
}
.check-password-main .check-password-form > input[type=submit]:hover {
  background-color: #d62c1a;
}
.check-password-main .check-password-form > input[type=submit]:active {
  background-color: #a82315;
}

.update-option-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.update-option-main > .update-option-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.2rem;
}
.update-option-main > .update-option-container > a {
  text-decoration: none;
  padding: 1rem 1.75rem;
  background-color: #e74c3c;
  color: #eeeeee;
  font-weight: 600;
  border-radius: 0.25rem;
}
.update-option-main > .update-option-container > a:hover {
  background-color: #d62c1a;
}
.update-option-main > .update-option-container > a:active {
  background-color: #a82315;
}

.update-my-info-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.update-my-info-main > .update-my-info-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > input[type=submit] {
  border: none;
  font-family: inherit;
  background-color: #e74c3c;
  color: #eeeeee;
  height: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > input[type=submit]:hover {
  background-color: #d62c1a;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > input[type=submit]:active {
  background-color: #a82315;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form input[type=text], .update-my-info-main > .update-my-info-container > .update-my-info-form input[type=password] {
  font-family: inherit;
  outline: none;
  border: 1px solid #e0e0e0;
  height: 2rem;
  width: 25rem;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form input[type=text]:focus-within, .update-my-info-main > .update-my-info-container > .update-my-info-form input[type=password]:focus-within {
  border: 1px solid #009fff;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > .nickname-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
  overflow: hidden;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > .nickname-box > label > input[type=button] {
  height: 2rem;
  border: none;
  background-color: #747474;
  font-family: inherit;
  color: #eeeeee;
  cursor: pointer;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > .nickname-box > label > input[type=button]:hover {
  background-color: #5b5b5b;
}
.update-my-info-main > .update-my-info-container > .update-my-info-form > .nickname-box > label > input[type=button]:active {
  background-color: #414141;
}

.update-goods-info-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.update-goods-info-main > .update-goods-info-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > input[type=button] {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.2rem 0;
  background-color: #747474;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > input[type=button]:hover {
  background-color: #5b5b5b;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > input[type=button]:active {
  background-color: #414141;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > input[type=submit] {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 0.5rem 0;
  background-color: #e74c3c;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > input[type=submit]:hover {
  background-color: #d62c1a;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > input[type=submit]:active {
  background-color: #a82315;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > .is-sale {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > .is-sale > label {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > .is-sale > label:focus-within > span {
  color: #009fff;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > .is-sale > label > span {
  font-size: 1rem;
  color: #747474;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > .is-sale > label > input[type=checkbox] {
  height: 1rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label:focus-within > span {
  color: #009fff;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label:focus-within > textarea {
  border: 1px solid #009fff;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label:focus-within > input {
  border: 1px solid #009fff;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label > input {
  border: 1px solid #e0e0e0;
  outline: none;
  width: 30rem;
  height: 1.5rem;
  font-family: inherit;
  font-size: 0.9rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label > input[type=checkbox]:checked + .sale-ture {
  color: #009fff;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label > textarea {
  border: 1px solid #e0e0e0;
  outline: none;
  resize: none;
  height: 5rem;
  font-family: inherit;
  font-size: 0.9rem;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-title > label > span {
  font-size: 0.75rem;
  color: #747474;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.3125rem;
  margin: 1.5rem 0;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 80px;
  height: 80px;
  position: relative;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box:hover > .image-delete-button > input {
  opacity: 0.85;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box > .image-delete-button > input {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  opacity: 0.1;
  color: #eeeeee;
  background-color: #414141;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box > .image-delete-button > input:active {
  background-color: #212121;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box > .show-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #adadad;
  cursor: pointer;
  overflow: hidden;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box > .show-image > img {
  width: 80px;
  height: 80px;
}
.update-goods-info-main > .update-goods-info-container > .update-goods-info-form > .goods-images > .image-box > .thumbnail-select-box {
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 0.75rem;
  color: #747474;
}

.goods-order-detail-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goods-order-detail-main > .goods-order-detail-section > ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.75rem;
}
.goods-order-detail-main > .goods-order-detail-section > ul > li {
  color: #414141;
}
.goods-order-detail-main > .goods-order-detail-section > ul > li > h1 {
  color: #212121;
  font-weight: 400;
}

/*# sourceMappingURL=manage.css.map */
