@charset "UTF-8";
@import "common";

.manage-aside {
  background-color: #424242;
  position: fixed;
  padding: 100px 0;
  width: 200px;
  height: 100vh;
  z-index: 0;

  > .menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    > li {

      > a {
        text-decoration: none;
        color: #eeeeee;

        &:hover {
          color: darken(#eeeeee, 10%)
        }
      }
    }
  }
}

.manage-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > .manage-table {
    margin-top: 4rem;
    border: 1px solid #e0e0e0;
    width: 1000px;

    > caption {
      text-align: left;
      margin-bottom: 2rem;
      font-size: 2rem;
      font-weight: 300;
    }

    a {
      color: #e74c3c;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    > thead > tr > th{
      height: 2rem;
      background-color: #e0e0e0;
    }

    > tbody > tr > th {
      height: 2rem;
      background-color: #e0e0e0;
    }

    > tbody > tr > td {
      text-align: center;

      > input[type="button"] {
        background-color: #009fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        color: white;
        font-family: inherit;

        &:hover {
          background-color: darken(#009fff, 10%);
        }
      }
    }

    > tfoot {
      text-align: center;
      height: 2rem;

      > tr > td > section {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.5rem;

        > ul > li > a {
          font-size: 1.1rem;
          text-decoration: none;
          color: #009fff;
        }
      }
    }
  }

  .myInfo-container {
    margin-top: 3rem;
    border: 4px solid #747474;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    > .myInfo-box {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      padding: 2rem 4rem;
      gap: 10rem;

      border-bottom: 1px dashed #919191;

      > .myInfo-view {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75rem;

        > .user-nickname {
          font-weight: 700;
          font-size: 1.2rem;
          margin: 0;
          padding: 0;
        }

        > .user-email {
          font-size: 0.9rem;
          color: #007fcc;
        }

        > .user-created-at {
          font-size: 1.2rem;
          color: #e74c3c;
          margin-top: 0.75rem;
        }
      }

      > .myInfo-modify {

        > a {
          background-color: #e74c3c;
          padding: 0.5rem 1.2rem;
          font-size: 0.9rem;
          font-weight: 500;

          color: #eeeeee;
          text-decoration: none;

          &:hover {
            background-color: darken(#e74c3c, 15%);
          }
        }
      }
    }

    > .myThings-box {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 7rem;


      > .myThing {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.75rem;
        padding: 2rem 0;

        > a {
          color: #e74c3c;
          text-decoration: none;

          &:hover {
            color: darken(#e74c3c, 20%);
          }
        }
      }
    }
  }
}

.check-password-main {
  margin: 1rem;
  border: 4px solid #747474;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    padding: 0;
    margin: 0;
  }

  .check-password-form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 0.5rem;

    > label > input[type="password"] {
      outline: none;
      height: 2rem;
      width: 20rem;
      border: 1px solid #e0e0e0;
      font-family: inherit;

      &:focus-within {
        border: 1px solid #009fff;
      }
    }

    > input[type="submit"] {
      font-family: inherit;
      border: none;
      background-color: #e74c3c;
      color: #eeeeee;
      height: 1.75rem;
      font-size: 1rem;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }

      &:active {
        background-color: darken(#e74c3c, 20%);
      }
    }
  }
}

.update-option-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .update-option-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;

    > a {
      text-decoration: none;
      padding: 1rem 1.75rem;
      background-color: #e74c3c;
      color: #eeeeee;
      font-weight: 600;
      border-radius: 0.25rem;

      &:hover {
        background-color: darken(#e74c3c, 10%);
      }

      &:active {
        background-color: darken(#e74c3c, 20%);
      }
    }
  }
}

.update-my-info-main, .modify-tournament-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .update-my-info-container, .modify-tournament-section {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > .close-button {
      margin-bottom: 2rem;
      background-color: #e74c3c;
      border: none;
      font-family: inherit;
      font-size: 1.2rem;
      padding: 0.25rem 0;
      color: #eeeeee;
      cursor: pointer;

      &:hover {
        background-color: darken(#e74c3c, 10);
      }

      &:active {
        background-color: darken(#e74c3c, 20);
      }
    }

    > .product-ul {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: 1rem;
      margin: 2rem 0;

      > .product-box {

        > a {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: stretch;
          gap: 5rem;
          background-color: #e0e0e0;
          padding-right: 5rem;
          text-decoration: none;

          > .product-name {
            color: #414141;
          }

          &:hover {
            background-color: #c7c7c7;

            > .product-name {
              color: #e74c3c;
            }
          }

          &:active {
            background-color: #adadad;
          }

          > .product-img {
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }

    > .delete-my-account-form, .modify-tournament-form, .modify-product-form {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: 0.5rem;

      > .turn-back {
        color: #e74c3c;
        font-size: 0.85rem;
      }

      > .modify-tournament-label {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        &:focus-within {
          > span {
            color: #009fff;
          }

          > input[type="text"] {
            border: 1px solid #009fff;
          }

          > textarea {
            border: 1px solid #009fff;
          }
        }

        > span {
          font-size: 0.75rem;
          color: #757575;
        }

        > input[type="text"] {
          height: 1.5rem;
          font-family: inherit;
          outline: none;
          border: 1px solid #e0e0e0;
        }

        > textarea {
          font-family: inherit;
          outline: none;
          border: 1px solid #e0e0e0;
          resize: none;
        }

        > .file {
          font-family: inherit;
        }

        > img {
          cursor: pointer;
          border: 1px solid #e0e0e0;
          height: 15rem;
          width: 20rem;
        }

      }

      > input[type='submit'] {
        font-family: inherit;
        padding: 0.3rem 0;
        font-size: 1.1rem;
        background-color: #e74c3c;
        border: none;
        cursor: pointer;
        color: #eeeeee;
        border-radius: 0.25rem;

        &:hover {
          background-color: darken(#e74c3c, 10);
        }

        &:active {
          background-color: darken(#e74c3c, 20);
        }
      }
    }

    > .update-my-info-form {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;

      > input[type="submit"] {
        border: none;
        font-family: inherit;
        background-color: #e74c3c;
        color: #eeeeee;
        height: 2rem;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
          background-color: darken(#e74c3c, 10%);
        }

        &:active {
          background-color: darken(#e74c3c, 20%);
        }
      }

      input[type="text"], input[type="password"] {
        font-family: inherit;
        outline: none;
        border: 1px solid #e0e0e0;
        height: 2rem;
        width: 25rem;

        &:focus-within {
          border: 1px solid #009fff;
        }
      }

      > .nickname-box {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0.75rem;
        overflow: hidden;

        > label > input[type="button"] {
          height: 2rem;
          border: none;
          background-color: #747474;
          font-family: inherit;
          color: #eeeeee;
          cursor: pointer;

          &:hover {
            background-color: darken(#747474, 10%);
          }

          &:active {
            background-color: darken(#747474, 20%);
          }
        }
      }
    }
  }
}

.update-goods-info-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .update-goods-info-container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    > .update-goods-info-form {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.2rem;

      > input[type="button"] {
        font-size: 1.2rem;
        font-family: inherit;
        padding: 0.2rem 0;
        background-color: #747474;
        color: #eeeeee;
        border: none;
        cursor: pointer;
        border-radius: 0.2rem;

        &:hover {
          background-color: darken(#747474, 10);
        }

        &:active {
          background-color: darken(#747474, 20);
        }
      }

      > input[type="submit"] {
        font-size: 1.5rem;
        font-family: inherit;
        padding: 0.5rem 0;
        background-color: #e74c3c;
        color: #eeeeee;
        border: none;
        cursor: pointer;
        border-radius: 0.2rem;

        &:hover {
          background-color: darken(#e74c3c, 10);
        }

        &:active {
          background-color: darken(#e74c3c, 20);
        }
      }

      > .goods-title {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.75rem;

        > .is-sale {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          > label {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            &:focus-within {
              > span {
                color: #009fff;
              }
            }
            > span {
              font-size: 1rem;
              color: #747474;
            }

            > input[type="checkbox"] {
              height: 1rem;
            }
          }


        }

        > label {
          align-items: stretch;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          &:focus-within {
            > span {
              color: #009fff;
            }

            > textarea {
              border: 1px solid #009fff;
            }

            > input {
              border: 1px solid #009fff;
            }
          }

          > input {
            border: 1px solid #e0e0e0;
            outline: none;
            width: 30rem;
            height: 1.5rem;
            font-family: inherit;
            font-size: 0.9rem;
          }

          > input[type="checkbox"]:checked + .sale-ture {
            color: #009fff;
          }

          > textarea {
            border: 1px solid #e0e0e0;
            outline: none;
            resize: none;
            height: 5rem;
            font-family: inherit;
            font-size: 0.9rem;
          }

          > span {
            font-size: 0.75rem;
            color: #747474;
          }
        }
      }

      > .goods-images {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.3125rem;
        margin: 1.5rem 0;

        > .image-box {
          align-items: stretch;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          width: 80px;
          height: 80px;
          position: relative;

          &:hover > .image-delete-button > input {
            opacity: 0.85;
          }

          > .image-delete-button {

            > input {
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
              border: none;
              opacity: 0.1;
              color: #eeeeee;
              background-color: #414141;

              &:active {
                background-color: #212121;
              }
            }
          }

          > .show-image {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            border: 1px solid #adadad;
            cursor: pointer;
            overflow: hidden;

            > img {
              width: 80px;
              height: 80px;
            }
          }

          > .thumbnail-select-box {
            text-align: center;
            cursor: pointer;
            border: none;
            font-size: 0.75rem;
            color: #747474;
          }
        }
      }
    }
  }
}

.goods-order-detail-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .goods-order-detail-section > ul {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75rem;

    > li {
      color: #414141;
    }

    > li > h1 {
      color: #212121;
      font-weight: 400;
    }
  }
}

.review-main {
  margin: 1rem;
  border: 4px solid #747474;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .review-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .review-table {
      margin: 2rem 0;
      text-align: center;
      width: 100%;
      border: 1px solid #e0e0e0;

      > thead {
        background-color: #e0e0e0;

        > tr {
          width: 100rem;

          > .star {
            color: #e74c3c;
          }

          > td {
            padding: 0 2rem;
          }

          > th {
            padding: 0 1rem;
          }
        }
      }

      > tbody {
        text-align: center;

        > tr > th {
          background-color: #e0e0e0;
        }

        > tr > td > img {
          width: 12rem;
        }
      }
    }

    > .review-form {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      gap: 0.25rem;

      > label {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        justify-content: stretch;

        > span {
          color: #747474;
          font-size: 0.75rem;
        }

        > textarea {
          outline: none;
          border: 1px solid #e0e0e0;
          resize: none;
          font-family: inherit;
        }

        > select {
          outline: none;
          border: 1px solid #e0e0e0;
          height: 2rem;
          font-size: 1.125rem;
          color: #e74c3c;
          font-family: inherit;
        }

        &:focus-within {
          > span {
            color: #009fff;
          }

          > textarea {
            border: 1px solid #009fff;
          }

          > select {
            border: 1px solid #009fff;
          }
        }
      }

      > .goods-images {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.1625rem;
        margin: 1rem 0;
        width: 25rem;

        > .image-box {
          align-items: stretch;
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          width: 65px;
          height: 65px;
          position: relative;

          &:hover > .image-delete-button > input {
            opacity: 0.85;
          }

          > .image-delete-button {

            > input {
              position: absolute;
              top: 0;
              right: 0;
              cursor: pointer;
              border: none;
              opacity: 0.1;
              color: #eeeeee;
              background-color: #414141;

              &:active {
                background-color: #212121;
              }
            }
          }

          > .show-image {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            border: 1px solid #adadad;
            cursor: pointer;
            overflow: hidden;

            > img {
              width: 65px;
              height: 65px;
            }
          }

          > .thumbnail-select-box {
            text-align: center;
            cursor: pointer;
            border: none;
            font-size: 0.75rem;
            color: #747474;
          }
        }
      }

      > input[type='button'], input[type="submit"] {
        font-family: inherit;
        border: none;
        cursor: pointer;
        font-weight: 300;
        color: #eeeeee;
      }

      > input[type='button'] {
        font-size: 1.1rem;
        background-color: #757575;
        padding: 0.25rem 0;

        &:hover {
          background-color: darken(#757575, 10);
        }

        &:active {
          background-color: darken(#757575, 20);
        }
      }

      > input[type='submit'] {
        font-size: 1.2rem;
        background-color: #e74c3c;
        padding: 0.5rem 0;

        &:hover {
          background-color: darken(#e74c3c, 10);
        }

        &:active {
          background-color: darken(#e74c3c, 20);
        }
      }
    }
  }
}