<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/user.css}">
    <script defer type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/register.js}"></script>
    <script th:if="${session.get('user') != null}">
        alert('이미 로그인 되어 있습니다. 홈 페이지로 이동합니다.');
        location.href = '/';
    </script>
</head>
<body>
    <main id="user-main">
        <div id="loading">
            <img alt="" class="image" th:src="@{/assets/images/loading.png}">
            <span class="text">잠시만 기다려 주세요...</span>
        </div>
        <section id="user-container">
            <div class="user-box">
                <form id="register-form" th:with="userRegex=${T(dev.hcs.mytournament.regexes.UserRegex)}, emailAuthRegex=${T(dev.hcs.mytournament.regexes.EmailAuthRegex)}">
                    <input hidden name="emailSalt" type="hidden" th:attrappend="data-regex=${emailAuthRegex.salt.expression}">
                    <div class="input-box">
                        <label><input required autofocus name="email" type="text" minlength="5" maxlength="50" placeholder="이메일(user@sample.com)" th:attrappend="data-regex=${userRegex.email.expression}"></label>
                        <label><input name="emailSend" value="인증번호 전송" type="button"></label>
                        <div class="warning email-message">잘못된 이메일입니다.</div>
                        <label><input required minlength="6" maxlength="6" name="emailCode" type="text" disabled placeholder="인증번호(숫자 6자리)" th:attrappend="data-regex=${emailAuthRegex.code.expression}"></label>
                        <label><input name="emailVerify" value="인증번호 확인" type="button"></label>
                        <div class="warning emailCode-message">코드가 맞지 않습니다.</div>
                        <label><input disabled name="password" minlength="5" maxlength="50" type="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" th:attrappend="data-regex=${userRegex.password.expression}"></label>
                        <label><input disabled name="passwordCheck" minlength="5" maxlength="50" type="password" placeholder="비밀번호 확인"></label>
                        <label><input disabled name="nickname" minlength="2" maxlength="10" type="text" placeholder="닉네임 (숫자, 영어 대소문자, 완성 한글 2자 이상 10자 이하)" th:attrappend="data-regex=${userRegex.nickname.expression}"></label>
                        <div class="warning register-message">필수적인 절차를 거치지 않았습니다.</div>
                    </div>
                    <input value="회원가입" type="submit">
                </form>
            </div>
        </section>
        <div class="links">
            <span>이미 회원이신가요? <a href="/user/login">로그인 페이지로 이동하기</a></span>
        </div>
    </main>
</body>
</html>