<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>굿즈 이름</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/goods.css}">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer type="text/javascript" th:src="@{/assets/scripts/goods.js}"></script>
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
<main id="goods-main">
    <section class="goods-container">
        <section class="goods-info">
            <div class="carousel-wrapper">
                <i class="fa-solid fa-chevron-left carousel-prev"></i>
                <div class="carousel">
                    <img th:each="goodsImage : ${goodsImages}" class="carousel-image" th:src="@{/store/image (index=${goodsImage.getIndex()})}" alt="">
                </div>
                <i class="fa-solid fa-chevron-right carousel-next"></i>
            </div>
            <div class="goods-detail-box">
                <div class="goods-description">
                    <h1 class="goods-title" th:text="${goods.getTitle()}">굿즈1</h1>
                    <span class="goods-content" th:text="${goods.getContent()}">굿즈에 대한 설명을 적으시면 됩니다. 여기에 굿즈에 대한 자세한 설명이 표시됩니다.굿즈에 대한 설명을 적으시면 됩니다. 여기에 굿즈에 대한 자세한 설명이 표시됩니다.굿즈에 대한 설명을 적으시면 됩니다. 여기에 굿즈에 대한 자세한 설명이 표시됩니다.</span>
                    <table class="goods-info-table">
                        <thead>
                        <tr>
                            <th>가격</th>
                            <th>재고</th>
                            <th>판매여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="goods-price" th:text="${goods.getPrice()}">2,200</td>
                            <td class="goods-stoke" th:text="${goods.getStoke()}">12</td>
                            <td>
                                <span th:if="${goods.isSale()}">판매</span>
                                <span th:if="${!goods.isSale()}">판매 중단</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="goods-order">
            <form class="buy-form">
                <div class="my-address">
                    <div class="address-input">
                        <span class="address-text">주소</span>
                        <div>
                            <label><input disabled required name="addressPostal" placeholder="우편번호" type="text"></label>
                            <label><input class="find-address" name="findAddress" value="우편번호 찾기" type="button"></label>
                        </div>
                        <label><input disabled required name="addressPrimary" placeholder="기본 주소" type="text"></label>
                        <label><input required name="addressSecondary" placeholder="상세 주소(건물 이름, 층, 상호명, 동, 호 등)" type="text"></label>
                    </div>
                    <div class="address-finder">
                        <div class="dialog"></div>
                    </div>
                    <div class="saved-address-container">
                        <div class="saved-address-box">
                            <span class="saved-address">522011 대구 달서구 장기동 초록나라아파트 XX동 XX호</span>
                            <input class="delete-saved-address" value="X" type="button">
                        </div>
                        <div class="saved-address-box">
                            <span class="saved-address">522011 대구 달서구 장기동 초록나라아파트 XX동 XX호</span>
                            <input class="delete-saved-address" value="X" type="button">
                        </div>
                    </div>
                </div>
                <div class="goods-buy">
                    <input name="goodsIndex" th:value="${goods.getIndex()}" type="hidden">
                    <div class="select-amount-container">
                        <span class="amount-text">수량</span>
                        <div class="amount-box">
                            <div class="amount-select">
                                <i class="fa-solid fa-chevron-down decrease-button"></i>
                                <label><input class="amount-input" name="amount" value="1" required min="1" th:max="${goods.getStoke()}" type="number" disabled></label>
                                <i class="fa-solid fa-chevron-up increase-button"></i>
                            </div>
                            <div class="show-price">
                                <span th:text="${goods.getPrice() + ' 원'}" class="selected-price"></span>
                                <input class="reset-button" value="원래대로" type="button">
                            </div>
                        </div>
                    </div>
                    <div class="order-button-box">
                        <input class="wishlist-button" value="찜하기" type="button">
                        <input class="order-button" value="주문하기" type="submit">
                    </div>
                </div>
            </form>
        </section>
        <section class="goods-comment">
            <div class="goods-comment-box">
                <div class="comment-title">
                    <div>
                        <span>유저1</span>
                    </div>
                    <div>
                        <span>평점</span>
                        <span class="star">★★☆</span>
                    </div>
                    <div class="spring"></div>
                    <div>
                        <input class="report-comment-button" value="신고" type="button">
                    </div>
                </div>
                <div class="comment-content">
                    <span>내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ</span>
                </div>
            </div>
            <div class="goods-comment-box">
                <div class="comment-title">
                    <div>
                        <span>유저1</span>
                    </div>
                    <div>
                        <span>평점</span>
                        <span class="star">★★☆</span>
                    </div>
                    <div class="spring"></div>
                    <div>
                        <input class="report-comment-button" value="신고" type="button">
                    </div>
                </div>
                <div class="comment-content">
                    <span>내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ내용ㅁㅇㄴㄹㄴㅇㄻㄴㄷㄻㄴㄷㄹ</span>
                </div>
            </div>
        </section>

    </section>
</main>
<th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>