<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상점</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/store.css}">
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
<main id="store-main">
    <section class="search-container">
        <form id="goods-search-form" method="get" action="/store/">
            <label class="orderLabel">
                <select name="by" id="">
                    <option th:selected="${paging.getBy() == 'latest'}" value="latest">최신순</option>
                    <option th:selected="${paging.getBy() == 'price'}" value="price">가격순</option>
                </select>
            </label>
            <label class="searchLabel">
                <input th:value="${paging.getKeyword()}" name="keyword" minlength="1" maxlength="50" placeholder="굿즈 이름을 입력하세요. (1자 이상 50자 이하)" type="search">
            </label>
            <input value="검색" type="submit">
        </form>
        <a th:if="${session.get('user') != null && session.user.isAdmin() == true}" class="get-goods-upload" href="/store/upload">굿즈 업로드</a>
    </section>
    <section class="goods-container">
        <div th:each="goods : ${goodsList}" class="goods-box">
            <a th:href="@{/store/goods (index=${goods.getIndex()})}" class="goods-detail">
                <div class="goods-img-box">
                    <img class="goods-img" th:src="@{/store/thumbnail (index=${goods.getIndex()})}" alt="">
                </div>
                <div class="goods-info-box">
                    <div class="goods-info">
                        <span class="goods-name">이름 : <span th:text="${goods.getTitle()}">물품</span></span>
                        <span class="goods-stoke">재고 : <span th:text="${goods.getStoke()}">12개</span></span>
                        <span class="goods-price" th:text="${goods.getPrice() + '원'}">2,000</span>
                    </div>
                    <div class="sale-status">
                        <div class="sale-box" th:if="${goods.isSale()}">
                            <i class="sale-icon fa-solid fa-award"></i>
                            <span>판매 중</span>
                        </div>
                        <div class="no-sale-box" th:if="${!goods.isSale()}">
                            <i class="no-sale-icon fa-solid fa-circle-xmark"></i>
                            <span>판매 중단</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <input class="currentPageHidden" th:value="${paging.getRequestPage()}" type="hidden">
    <section th:if="${paging.getTotalPage() > 1}" class="paging-container">
        <ul th:if="${paging.isShowPrev()}" class="front-back-ul">
            <li><a href=""><i class="fa-solid fa-arrow-left"></i></a></li>
        </ul>
        <ul th:each="num : ${#numbers.sequence(paging.getMinPage(), paging.getMaxPage())}" class="paging-ul">
            <li><a th:class="${num}" th:href="@{/store/ (page=${num}, by=${paging.getBy()}, keyword=${paging.getKeyword()})}" th:text="${num}">1</a></li>
        </ul>
        <ul th:if="${paging.isShowNext()}" class="front-back-ul">
            <li><a href=""><i class="fa-solid fa-arrow-right"></i></a></li>
        </ul>
    </section>
</main>
<th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>
<script th:if="${paging.getTotalPage() > 1}">
    const currentPageHidden = document.querySelector('.currentPageHidden').value;
    const currentPageATag = document.getElementsByClassName(currentPageHidden);
    console.log(currentPageATag[0]);
    currentPageATag[0].style.backgroundColor='#009fff';
    currentPageATag[0].style.color='white';
</script>