<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>경기</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/play.css}">
</head>
<body>
    <main id="play-id">
        <section class="title-container">
            <h2 class="tournament-title">제목</h2>
            <h2 class="tournament-round">16강</h2>
        </section>
        <section class="play-container">
            <div class="product-box">
                <div class="product-select">
                    <img class="product-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEzQhMzN0sJnGfqdi2aHD7fzZWirfyYB1DoFc7EQPiUQ&s" alt="img">
                </div>
                <span class="product-name">이름1</span>
            </div>
            <div class="product-box">
                <div class="product-select">
                    <img class="product-img" src="" alt="img">
                </div>
                <span class="product-name">이름2</span>
            </div>
        </section>
    </main>
</body>
</html>