<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>이상형 월드컵</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/index.css}">
    <script src="https://kit.fontawesome.com/0500497c40.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{layouts/header.html :: header}"></th:block>
    <main id="index-main">
        <section class="search-container">
            <form id="search-form" method="get" action="/">
                <label class="orderLabel">
                    <select name="by" id="">
                        <option th:selected="${paging.getBy() == 'latest'}" value="latest">최신순</option>
                        <option th:selected="${paging.getBy() == 'popular'}" value="popular">인기순</option>
                    </select>
                </label>
                <label class="searchLabel">
                    <input th:value="${paging.getKeyword()}" name="keyword" minlength="1" maxlength="50" placeholder="월드컵 제목을 입력하세요. (1자 이상 50자 이하)" type="search">
                </label>
                <input value="검색" type="submit">
            </form>
        </section>

        <section class="tournaments-container">
            <div th:each="tournament : ${tournaments}" class="tournament-box">
                <div class="tournament-info">
                    <a class="thumbnail-box" href="#">
                        <img class="thumbnail" th:src="@{/tournament/thumbnail (index = ${tournament.getIndex()})}" alt="">
                    </a>
                    <span class="tournament-title" th:text="${tournament.getTitle()}">가장 좋아하는 XXX는?</span>
                    <span class="tournament-content" th:text="${tournament.getContent()}">가장 좋아하는 XXX을 골라야 합니다.</span>
                </div>
                <div class="tournament-button">
                    <a href="#">
                        <i class="fa-solid fa-play"></i>
                        <span>시작하기</span>
                    </a>
                    <a th:href="@{/tournament/ranking (index = ${tournament.getIndex()})}">
                        <i class="fa-solid fa-medal"></i>
                        <span>랭킹보기</span>
                    </a>
                </div>
            </div>
        </section>

        <input class="currentPageHidden" th:value="${paging.getRequestPage()}" type="hidden">
        <section th:if="${paging.getTotalPage() > 1}"  class="paging-container">
            <ul th:if="${paging.isShowPrev()}" class="front-back-ul">
                <li><a href=""><i class="fa-solid fa-arrow-left"></i></a></li>
            </ul>
            <ul th:each="num : ${#numbers.sequence(paging.getMinPage(), paging.getMaxPage())}" class="paging-ul">
                <li><a th:class="${num}" th:href="@{/ (page=${num}, by=${paging.getBy()}, keyword=${paging.getKeyword()})}" th:text="${num}">1</a></li>
            </ul>
            <ul th:if="${paging.isShowNext()}" class="front-back-ul">
                <li><a href=""><i class="fa-solid fa-arrow-right"></i></a></li>
            </ul>
        </section>
    </main>
    <th:block th:replace="~{layouts/footer.html :: footer}"></th:block>
</body>
</html>
<script th:if="${paging.getTotalPage() > 1}">
    const currentPageHidden = document.querySelector('.currentPageHidden').value;
    const currentPageATag = document.getElementsByClassName(currentPageHidden);
    console.log(currentPageATag[0]);
    currentPageATag[0].style.backgroundColor='#009fff';
    currentPageATag[0].style.color='white';
</script>